# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.git/objects/37/fb9d4b514e40f7a8bac07054c42e345c0cd807
.git/objects/pack/tmp_pack_yqpYKt
Transcript.csv
venv/lib/python3.12/site-packages/nvidia/nvshmem/lib/libnvshmem_host.so.3
venv/lib/python3.12/site-packages/nvidia/curand/lib/libcurand.so.10
venv/lib/python3.12/site-packages/nvidia/cublas/lib/libcublasLt.so.12
venv/lib/python3.12/site-packages/nvidia/cublas/lib/libcublas.so.12
venv/lib/python3.12/site-packages/nvidia/cuda_nvrtc/lib/libnvrtc.alt.so.12
venv/lib/python3.12/site-packages/nvidia/cusolver/lib/libcusolverMg.so.11
venv/lib/python3.12/site-packages/nvidia/cusolver/lib/libcusolver.so.11
venv/lib/python3.12/site-packages/nvidia/cusparse/lib/libcusparse.so.12
venv/lib/python3.12/site-packages/nvidia/cufft/lib/libcufft.so.11
venv/lib/python3.12/site-packages/nvidia/cudnn/lib/libcudnn_adv.so.9
venv/lib/python3.12/site-packages/nvidia/cudnn/lib/libcudnn_engines_precompiled.so.9
venv/lib/python3.12/site-packages/nvidia/cudnn/lib/libcudnn_ops.so.9
venv/lib/python3.12/site-packages/nvidia/nccl/lib/libnccl.so.2
venv/lib/python3.12/site-packages/nvidia/cusparselt/lib/libcusparseLt.so.0
venv/lib/python3.12/site-packages/triton/_C/libtriton.so
venv/lib/python3.12/site-packages/torch/lib/libtorch_cuda.so
venv/lib/python3.12/site-packages/torch/lib/libtorch_cpu.so
venv/lib/python3.12/site-packages/torch/lib/libtorch_cuda_linalg.so
